html, body {
    height: 100%;
    box-sizing: border-box
}

main {
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

#maps {
    height: 100%;
    width: 100%;
    position: relative
}

#maps > div{
 position: absolute;
 display: none;
}